img{
    max-width: 180px;
    max-height: 101px;
    padding: 5px 20px 5px 20px;
}

.char-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: white;
}

.enemy-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: gray;
}

#player-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: white;
}

#defender-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: black;
    color: white;
}