@font-face {
    font-family: 'avengeance_heroic_avengerbold';
    src: url('../fonts/avengeance_heroic_avenger_bd-webfont.woff2') format('woff2'),
         url('../fonts/avengeance_heroic_avenger_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    background-image: url("../images/stardust.png");
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'avengeance_heroic_avengerbold';
}

h1{
    font-size: 40px;
    padding-left: 10px;
}

h2{
    font-size: 20px;
    padding-left: 5px;
}

button{
    font-family: 'avengeance_heroic_avengerbold';
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 35px;
}

button:hover{
    transition: 0.3s;
    background-color: black;
    color: white;
}

img{
    max-width: 180px;
    max-height: 101px;
    padding: 5px 20px 5px 20px;
}

.char-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: white;
    color: black;
    padding: 5px 0px 0px 0px;
}

.enemy-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: gray;
    padding: 5px 0px 0px 0px;
}

#player-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: white;
    color: black;
    padding: 5px 0px 0px 0px;
}

#defender-card{
    max-width: 300px;
    text-align: center;
    display: inline-block;
    border: rgb(128, 0, 128) solid 2px;
    background-color: black;
    color: white;
    padding: 5px 0px 0px 0px;
}

#attacks{
    font-size: 20px;
    padding: 10px 0px 10px 5px;
}